*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  width: 100%;
  /* background: linear-gradient(45deg,black,rgb(47, 46, 47), rgb(210, 146, 210),rgb(24, 24, 74),rgb(21, 21, 74)); */
  background: linear-gradient(45deg,#050508 0%,#160a2c 40%,#492752 80%,#4a2538 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.card{
    min-height: 25rem;
    width: 25rem;
    padding: 35px;
    border: 1px solid ;
    border-color: rgb(255, 255, 255,0.25);
    box-shadow: 0 0 40px rgba(255,255,255,0.08);
    border-radius: 20px;

    background: rgba(255,255,255,0.12);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}
.circle1,.circle2{
    position: absolute;
    border-radius: 50%;
    filter: blur(120px);
    /* z-index: -1; */
}
.circle1{
    width: 320px;
    height: 320px;
    background:#ff4ecd;
    bottom: 17%;
    right: 29%;
}
.circle2{
    width: 320px;
    height: 320px;
    background:#7b61ff;
    bottom: 47%;
    right: 47%;
}
.circle3{
    position: absolute;
    width: 250px;
    height: 250px;
    background:#ffffff ;
    border-radius: 50%;
    filter: blur(150px);
    opacity: 1.15;
    top: 33%;
    left:38%;
    /* z-index: -1; */
}
header{
    text-align: center;
    /* margin: 5px; */
    color: #272626;
}
main{
    color: white;
    padding: 13px;
    font-size:1.5rem;
    margin: 20px;
    text-align: left;
    flex-wrap: wrap;
}
footer{
    color: rgb(227, 224, 224);
    font-size:1rem;
    text-align: right;
}
.btns{
    display: flex;
    justify-content: center;
    margin: 1rem;
    gap: 30px;
}
button{
    height: 30px;
    width: 100px;
    background: linear-gradient(30deg,rgb(207, 207, 252),rgb(253, 176, 189));
    color: rgb(48, 47, 47);
    border-radius: 5px;
    margin-top: 20px;
    border: 0.5px solid white;
    transition: 0.3s;
    cursor: pointer;
}
button:hover{
    transform: scale(1.15);
}
h1::after{
    content: "";
    display: block;
    width: 80%;
    height:2px ;
    background:linear-gradient(90deg,#1b1a1b,#5a5a5a);
    margin: 10px auto;

}